.content {
    display: grid;
    grid-template-columns: 0.8fr 1.8fr;
    grid-gap: 40px;
    background-color: lightcoral;
    padding: 0 120px;

    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid black;
        padding: 60px 20px;

    }

    .right {
        background-color: lightseagreen;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            padding: 0 0 30px 0;
            text-align: justify;
        }
    }
}