.container {
    display: grid;
    grid-template-columns: 50vw 50vw;

    .left {
        padding: 60px 60px 60px 80px;
        border-right: 1px solid rgb(206, 206, 206);

        p {
            padding: 20px 0 45px 0;
            color: #525252;
        }

        img {
            width: 35vw;
        }
    }

    .right {
        padding: 60px 80px 60px 60px;

        h3 {
            margin: 40px 0 20px 0;
        }

        p {
            color: #525252;
        }

        img {
            width: 35vw;
        }
    }
}

@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .left {
            padding: 60px 40px 10px 40px;
            border: 0 !important;

            h3 {
                margin: 0 0 20px 0;
            }

            img {
                width: 100%;
            }
        }

        .right {
            padding: 0 40px 60px 40px;
            border: 0 !important;

            img {
                width: 100%;
            }
        }
    }
}