@font-face {
  font-family: 'SFProDisplay';
  src: url(../public/Font.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SFProDisplay', sans-serif;
}

a {
  text-decoration: none;
}